---
import styles from './Card.module.css';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
const classes = [styles.card, className].filter(Boolean).join(' ');
---

<div class={classes}>
  <slot />
</div>
